<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    {{> navbar}}
    {{#if posts}} 
    {{!-- if no posts available then no blank space is reserved --}}
    <ul class="ul_post">
        
        <div class="post">
            {{#each posts as |post|}}
            <a href="/user/openPost?id={{post._id}}" class="eachPost">
            <li>Title: {{post.title}}</li>
            <img src="{{post.imageUrl}}" alt="image">
            <li class="description">Description: {{post.description}}</li>
            </a>
            <div class="deleteUpdate">
            <a href="/user/deletePost?id={{post._id}}" class="delete">Delete Post</a>
            <a href="/user/updatePost?id={{post._id}}" class="update">Update Post</a>
            </div>
            {{/each}}

        </div>
        
    </ul>
    {{/if}}
</body>
</html>